fastapi
uvicorn[standard]
python-telegram-bot
google-genai==1.57.0
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.zip
aiosqlite
pydantic
pydantic-settings
httpx
psutil
nest-asyncio
ytmusicapi
curl_cffi